[workspace]
resolver = "2"
members = ["apps/desktop/src-tauri", "crates/*"]

[workspace.dependencies]
anyhow = "1.0.86"
ffmpeg = { package = "ffmpeg-next", git = "https://github.com/CapSoftware/rust-ffmpeg", rev = "91b29d09a8c7cb4f5659c38f1f0924b980a30cba" }
ffmpeg-sys-next = "7.1.0"
tokio = { version = "1.39.3", features = [
	"macros",
	"process",
	"fs",
	"sync",
	"rt",
	"rt-multi-thread",
	"time",
] }
tauri = { version = "2.0.0" }
specta = { version = "=2.0.0-rc.20" }
scap = { git = "https://github.com/CapSoftware/scap", rev = "4d6be030ba2b0cea565ccaee28b1999f25b8dd5d" }
nokhwa = { path = "../../l1npengtul/nokhwa" }
nokhwa-bindings-macos = { path = "../../l1npengtul/nokhwa/nokhwa-bindings-macos" }
# nokhwa = { git = "https://github.com/CapSoftware/nokhwa", rev = "6ce1e8270d57", features = [
# 	"input-native",
# 	"serialize",
# ] }
# nokhwa-bindings-macos = { git = "https://github.com/CapSoftware/nokhwa", rev = "6ce1e8270d57" }
wgpu = "22.1.0"
