[workspace]
resolver = "2"
members = [
	"apps/desktop/src-tauri",
	"crates/rendering",
	"crates/ffmpeg",
	"crates/media",
	"crates/utils",
	"crates/project",
	"crates/editor",
	"crates/flags",
]

[workspace.dependencies]
anyhow = "1.0.86"
# This includes a currently-unreleased fix that ensures the audio stream is actually
# stopped and released on drop on macOS
cpal = { git = "https://github.com/RustAudio/cpal", rev = "f43d36e55494993bbbde3299af0c53e5cdf4d4cf" }
ffmpeg = { package = "ffmpeg-next", git = "https://github.com/CapSoftware/rust-ffmpeg", rev = "91b29d09a8c7cb4f5659c38f1f0924b980a30cba" }
ffmpeg-sys-next = "7.1.0"
tokio = { version = "1.39.3", features = [
	"macros",
	"process",
	"fs",
	"sync",
	"rt",
	"rt-multi-thread",
	"time",
] }
tauri = { version = "2.0.0" }
specta = { version = "=2.0.0-rc.20" }
