[package]
name = "cap-media"
version = "0.1.0"
description = "A modular multimedia processing library"
edition = "2021"
rust-version = "1.80"

[features]
default = []
debug-logging = []  # Feature flag to control debug logging

[dependencies]
cap-project = { path = "../project" }
cap-flags = { path = "../flags" }
cap-gpu-converters = { path = "../gpu-converters" }
cpal.workspace = true
ffmpeg.workspace = true
flume.workspace = true
indexmap = "2.5.0"
nokhwa = { workspace = true, features = ["input-native", "serialize"] }
num-traits = "0.2.19"
ringbuf = "0.4.7"
scap.workspace = true
serde = { version = "1", features = ["derive"] }
specta.workspace = true
tempfile = "3.12.0"
thiserror.workspace = true
tracing = { version = "0.1", features = ["release_max_level_info"] }
futures = "0.3.31"
axum = "0.7.9"
tokio.workspace = true

[target.'cfg(target_os = "macos")'.dependencies]
cocoa = "0.26.0"
core-graphics = "0.24.0"
core-foundation = "0.10.0"
objc = "0.2.7"
objc-foundation = "0.1.1"
objc2-foundation = { version = "0.2.2", features = ["NSValue"] }
nokhwa-bindings-macos.workspace = true
cidre = { git = "https://github.com/yury/cidre", rev = "1e008bec49a0f97aeaaea6130a0ba20fe00aa03b", default-features = false, features = [
	"private",

	"blocks",
	"async",

	"av",
	"ca",
	"cm",
	"dispatch",

	"macos_13_0",
] }
screencapturekit = "0.2.8"

[target.'cfg(target_os = "windows")'.dependencies]
windows = { workspace = true, features = [
	"Win32_Foundation",
	"Win32_System",
	"Win32_System_Threading",
	"Win32_Graphics_Gdi",
	"Win32_Graphics_Dwm",
	"Win32_UI_WindowsAndMessaging",
	"Win32_UI_HiDpi",
	"Win32_Media_MediaFoundation",
] }
windows-capture = { workspace = true }
