[package]
name = "cap-media"
version = "0.1.0"
description = "A modular multimedia processing library"
edition = "2021"
rust-version = "1.80"

[lints]
workspace = true

[features]
default = []
debug-logging = [] # Feature flag to control debug logging

[dependencies]
cap-project = { path = "../project" }
cap-flags = { path = "../flags" }
cap-audio = { path = "../audio" }
cap-camera = { path = "../camera", features = ["specta", "serde"] }
cap-camera-ffmpeg = { path = "../camera-ffmpeg" }
cap-fail = { path = "../fail" }
cap-media-encoders = { path = "../media-encoders" }
cap-media-info = { path = "../media-info" }
cpal.workspace = true
ffmpeg.workspace = true
ffmpeg-sys-next.workspace = true
flume.workspace = true
indexmap = "2.5.0"
num-traits = "0.2.19"
ringbuf = "0.4.7"
scap.workspace = true
serde = { workspace = true }
specta.workspace = true
tempfile = "3.12.0"
thiserror.workspace = true
tracing = { workspace = true }
futures = { workspace = true }
axum = { version = "0.7.9", features = ["macros", "ws"] }
tokio.workspace = true
image = { version = "0.25.2", features = ["gif"] }
gif = "0.13.1"
tokio-util = "0.7.15"

[target.'cfg(target_os = "macos")'.dependencies]
cidre = { workspace = true }
cocoa = "0.26.0"
core-graphics = "0.24.0"
core-foundation = "0.10.0"
objc = "0.2.7"
objc-foundation = "0.1.1"
objc2-foundation = { version = "0.2.2", features = ["NSValue"] }
screencapturekit = "0.3.5"

[target.'cfg(target_os = "windows")'.dependencies]
windows = { workspace = true, features = [
	"Win32_Foundation",
	"Win32_System",
	"Win32_System_Threading",
	"Win32_Graphics_Gdi",
	"Win32_Graphics_Dwm",
	"Win32_UI_WindowsAndMessaging",
	"Win32_UI_HiDpi",
	"Win32_Media_MediaFoundation",
] }
windows-capture = { workspace = true }
cap-camera-windows = { path = "../camera-windows" }

[dev-dependencies]
inquire = "0.7.5"
tokio = { workspace = true, features = ["macros"] }
tracing-subscriber = "0.3.19"
