[package]
name = "cap"
version = "0.0.0"
description = "Beautiful, shareable screen recordings. Open-source and privacy-friendly."
authors = ["you"]
license = ""
repository = ""
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[build-dependencies]
tauri-build = { version = "1.5.1", features = [] }
ffmpeg-sidecar = "0.5.1"

[dependencies]
tauri = { version = "1.6.1", features = [ "macos-private-api", "window-set-position", "fs-write-file", "fs-remove-file", "fs-read-file", "fs-rename-file", "fs-exists", "fs-remove-dir", "fs-read-dir", "fs-copy-file", "fs-create-dir", "window-set-ignore-cursor-events", "window-unminimize", "window-minimize", "window-close", "window-show", "window-start-dragging", "window-hide", "window-unmaximize", "window-maximize", "window-set-always-on-top", "shell-open", "devtools", "os-all", "http-all"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tauri-plugin-context-menu = "0.7.0"
tauri-plugin-positioner = { version = "1.0.4", features = ["system-tray"] }
ffmpeg-sidecar = "0.5.1"
cpal = "0.15.2"
which = "4.2.2"
tokio = { version = "1.35.1", features = ["full"] }
tokio-util = { version = "0.7.10", features = ["io"] }
futures = "0.3.30"
reqwest = { version = "0.11.23", features = ["json", "multipart", "stream"] }
tauri-plugin-oauth = { git = "https://github.com/FabianLars/tauri-plugin-oauth", branch = "main" }
tauri-plugin-deep-link = { git = "https://github.com/FabianLars/tauri-plugin-deep-link", branch = "main" }
window-vibrancy = "0.4.3"
window-shadows = "0.2.2"
chrono = "0.4.33"
dotenv_codegen = "0.15.0"
byteorder = "1.4.3"
bytemuck = "1.14.3"
regex = "1"
capture = { path = "./src/capture" }
image = "0.24.9"
sentry = "0.32.2"
fix-path-env = { git = "https://github.com/tauri-apps/fix-path-env-rs" }
winit = "0.29.15"
jpeg-encoder = "0.6.0"

[features]
# this feature is used for production builds or when `devPath` points to the filesystem
# DO NOT REMOVE!!
custom-protocol = ["tauri/custom-protocol"]
