[package]
name = "cap-video-decode"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
ffmpeg.workspace = true
ffmpeg-hw-device = { path = "../ffmpeg-hw-device" }
metal = "0.31.0"
tokio = { workspace = true, features = ["rt", "rt-multi-thread"] }
tracing = "0.1.41"
wgpu.workspace = true

[target.'cfg(target_os = "macos")'.dependencies]
cidre = { workspace = true, features = ["io_surface", "mtl"] }

[dev-dependencies]
