[package]
name = "cap-rendering"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow.workspace = true
bytemuck = { version = "1.7", features = ["derive"] }
futures-intrusive = "0.5.0"
serde = "1.0.209"
specta.workspace = true
wgpu.workspace = true
image = "0.25.2"
cap-project = { path = "../project" }
cap-flags = { path = "../flags" }
ffmpeg-hw-device = { path = "../ffmpeg-hw-device" }
tokio.workspace = true
ffmpeg.workspace = true
ffmpeg-sys-next.workspace = true
futures = "0.3.30"
thiserror.workspace = true
bezier_easing = "0.1.1"

[target.'cfg(unix)'.dependencies]
nix = { version = "0.29.0", features = ["fs"] }

[dev-dependencies]
pretty_assertions = "1.4.1"
