[package]
name = "cap-rendering"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.86"
bytemuck = { version = "1.7", features = ["derive"] }
futures-intrusive = "0.5.0"
serde = "1.0.209"
specta = "2.0.0-rc.19"
wgpu = "22.1.0"

cap-ffmpeg = { path = "../ffmpeg" }
cap-project = { path = "../project" }
tokio = { version = "1.39.3", features = [
	"macros",
	"sync",
	"rt",
	"rt-multi-thread",
] }
nix = { version = "0.29.0", features = ["fs"] }
serde_json = "1.0.127"
ffmpeg.workspace = true
lru = "0.12.4"
ffmpeg-sys-next = "7.0.2"
futures = "0.3.30"
