[package]
name = "cap-rendering"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow.workspace = true
bytemuck = { version = "1.7", features = ["derive"] }
cap-flags = { path = "../flags" }
cap-project = { path = "../project" }
cap-video-decode = { path = "../video-decode" }
cap-cursor-info = { path = "../cursor-info" }
ffmpeg-hw-device = { path = "../ffmpeg-hw-device" }
tokio.workspace = true
ffmpeg.workspace = true
futures = { workspace = true }
futures-intrusive = "0.5.0"
image = "0.25.2"
log = "0.4"
serde = { workspace = true }
serde_json = "1.0"
specta.workspace = true
thiserror.workspace = true
wgpu.workspace = true
bezier_easing = "0.1.1"
reactive_graph = "0.1.5"
glyphon = { git = "https://github.com/CapSoftware/glyphon", rev = "4c17a745f4475cd230f6ed96018cdb1f0af413ad" }
tracing.workspace = true
resvg = "0.45"
tiny-skia = "0.11"
clap = { version = "4.5", features = ["derive"] }

[target.'cfg(target_os = "macos")'.dependencies]
cidre.workspace = true

[dev-dependencies]
pretty_assertions = "1.4.1"

[build-dependencies]
build-time = "0.1"
