[package]
name = "cap-rendering"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow.workspace = true
bytemuck = { version = "1.7", features = ["derive"] }
futures-intrusive = "0.5.0"
serde = "1.0.209"
specta.workspace = true
wgpu = "22.1.0"
image = "0.25.2"

cap-ffmpeg-cli = { path = "../ffmpeg-cli" }
cap-project = { path = "../project" }
cap-flags = { path = "../flags" }
ffmpeg-hw-device = { path = "../ffmpeg-hw-device" }
tokio.workspace = true
serde_json = "1.0.127"
ffmpeg.workspace = true
ffmpeg-sys-next.workspace = true
lru = "0.12.4"
futures = "0.3.30"

[target.'cfg(unix)'.dependencies]
nix = { version = "0.29.0", features = ["fs"] }
