@keyframes wobble {
	0%,
	100% {
		transform: translateY(0) translateX(var(--segment-x));
	}
	50% {
		transform: translateY(-3px) translateX(var(--segment-x));
	}
}

.wobble-wrapper {
	animation: wobble 1s ease-in-out infinite;
	will-change: transform;
}
