{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:solid/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:tailwindCSS/recommended",
    "plugin:prettier/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "solid",
    "@typescript-eslint"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ]
  },
  "globals": {
    "chrome": "readonly"
  },
  "ignorePatterns": [
    "watch.js",
    "dist/**"
  ]
}