[package]
name = "cap-utils"
version = "0.1.0"
edition = "2021"

[target.'cfg(unix)'.dependencies]
nix = { version = "0.29.0", features = ["fs"] }

[target.'cfg(windows)'.dependencies]
tokio.workspace = true
windows = { version = "0.58.0", features = [
  "Win32_Foundation",
  "Win32_System",
  "Win32_System_WindowsProgramming",
  "Win32_Security",
  "Win32_Storage_FileSystem",
  "Win32_System_Pipes",
  "Win32_System_Diagnostics_Debug",
] }

[dependencies]
futures = "0.3.31"
tokio = { workspace = true, features = ["net"] }
uuid = "1.11.0"
