[package]
name = "cap-utils"
version = "0.1.0"
edition = "2024"

[target.'cfg(unix)'.dependencies]
nix = { version = "0.29.0", features = ["fs"] }

[target.'cfg(windows)'.dependencies]
windows = { version = "0.58.0", features = [
    "Win32_Foundation",
    "Win32_System",
    "Win32_System_WindowsProgramming",
    "Win32_Security",
    "Win32_Storage_FileSystem",
    "Win32_System_Pipes",
    "Win32_System_Diagnostics_Debug",
] }
windows-sys = "0.52.0"

[dependencies]
futures = "0.3.31"
tokio = { workspace = true, features = ["net", "io-util"] }
uuid = "1.11.0"
serde = { workspace = true }
serde_json = "1.0"
flume = "0.11.0"
tracing.workspace = true
directories = "5.0"
aho-corasick.workspace = true
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[lints]
workspace = true
