[package]
name = "cap-audio"
version = "0.1.0"
edition = "2024"


[dependencies]
ffmpeg.workspace = true
cpal.workspace = true
tokio.workspace = true

[target.'cfg(target_os = "macos")'.dependencies]
cidre.workspace = true

[lints]
workspace = true
