<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSCameraUsageDescription</key>
		<string>Request camera access for WebRTC</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Request microphone access for WebRTC</string>
		<key>NSScreenCaptureUsageDescription</key>
		<string>Request screen capture access</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleURLName</key>
				<string>so.cap.desktop-solid</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>caprecorder</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
