[package]
name = "scap-targets"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
serde = { version = "1.0.219", features = ["derive"] }
specta.workspace = true
image = "0.24"
tracing.workspace = true
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[target.'cfg(target_os = "macos")'.dependencies]
cidre = { workspace = true, default-features = false, features = ["sc"] }
core-graphics = "0.24.0"
core-foundation = "0.10.0"
cocoa = "0.26.0"
objc = "0.2.7"
tokio = { workspace = true, features = ["sync", "rt"] }

[target.'cfg(target_os = "windows")'.dependencies]
windows = { workspace = true, features = [
	"Graphics_Capture",
	"Win32_Foundation",
	"Win32_System_Threading",
	"Win32_System_WinRT",
	"Win32_System_WinRT_Graphics",
	"Win32_System_WinRT_Graphics_Capture",
	"Win32_UI_WindowsAndMessaging",
	"Win32_UI_Shell",
	"Win32_UI_HiDpi",
	"Win32_Graphics_Dwm",
	"Win32_Graphics_Gdi",
	"Win32_Storage_FileSystem",
] }

[target.'cfg(target_os = "linux")'.dependencies]
x11 = { version = "2.21", features = ["xlib", "xrandr", "xinerama", "xfixes"] }
