name: "CI"
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  typecheck:
    name: Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-js

      - name: Typecheck
        run: pnpm typecheck

  format-rust:
    name: Format (Cargo)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@stable

      - name: Check formatting
        run: cargo fmt --check

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-js

      - uses: ./.github/actions/setup-rust
        with:
          target: x86_64-unknown-linux-gnu

      # - name: Install desktop deps
      #   uses: ./.github/actions/install-desktop-deps

      - name: Run Clippy
        uses: actions-rs-plus/clippy-check@v2
        with:
          args: --workspace --all-features --locked
