name: "Docker Build Web"

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag for the Docker image"
        required: false
        default: "latest"
        type: string

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create .env file
        run: |
          echo "WEB_URL=http://localhost:3000" > .env
          echo "NEXT_PUBLIC_DOCKER_BUILD=true" >> .env
          echo "NEXT_PUBLIC_CAP_AWS_BUCKET=capso" >> .env
          echo "NEXT_PUBLIC_CAP_AWS_REGION=us-east-1" >> .env
          cat .env

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare Docker Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/AkashRajpurohit/cap-web
          tags: |
            type=raw,value=${{ inputs.tag || 'latest' }}

      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: apps/web/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          push: true
          load: false
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Show Docker Images
        run: docker images
